.border{
  border-style: solid;
  border-radius: 2px;
  border-color: black;
}
.title{
  background-color: blanchedalmond;
}
.pink{
  background-color: rgb(221, 105, 124)
  ;
}
.blue{
  background-color: aqua;
}
.orange{
  background-color: orange;
}
.green{
  background-color: green;
}
.large{
  font-size: xx-large;
}
.small{
  font-size: xx-small;
}