.border{
  border-style: solid;
  border-radius: 2px;
  border-color: black;
}
.title{
  background-color: blanchedalmond;
}
.pink{
  background-color: rgb(221, 105, 124)
  ;
}
.blue{
  background-color: aqua;
}